Source: mailnag-goa-plugin
Section: mail
Priority: optional
Maintainer: Patrick Ulbrich <zulu99@gmx.net>
Build-Depends: debhelper (>= 9), python (>= 2.7)
X-Python-Version: >= 2.7
Standards-Version: 3.9.5
Homepage: https://github.com/pulb/mailnag-goa-plugin
Vcs-Git: git://github.com/pulb/mailnag-goa-plugin.git
Vcs-Browser: https://github.com/pulb/mailnag-goa-plugin.git

Package: mailnag-goa-plugin
Architecture: all
Depends:
 gir1.2-goa-1.0 (>= 3.4),
 gnome-online-accounts (>= 3.4),
 mailnag (>= 1.1),
 ${misc:Depends},
 ${python:Depends}
Description: plugin that integrates GNOME Online Accounts into Mailnag
 Mailnag is a daemon program that checks POP3 and IMAP servers for new mail.
 On mail arrival it performs various actions provided by plugins. Mailnag
 comes with a set of desktop-independent default plugins for visual/sound
 notifications, script execution etc. and can be extended with additional
 plugins easily. 
