Source: mailnag-goa-plugin
Section: mail
Priority: optional
Maintainer: Patrick Ulbrich <zulu99@gmx.net>
Build-Depends: debhelper-compat (= 12), dh-python, gettext, python3-all
Standards-Version: 3.9.8
Homepage: https://github.com/pulb/mailnag-goa-plugin
Vcs-Git: git://github.com/pulb/mailnag-goa-plugin.git
Vcs-Browser: https://github.com/pulb/mailnag-goa-plugin.git

Package: mailnag-goa-plugin
Architecture: all
Depends:
 gir1.2-goa-1.0,
 gnome-online-accounts,
 mailnag (>= 2.0),
 ${misc:Depends},
 ${python:Depends}
Description: plugin that integrates GNOME Online Accounts into Mailnag
 Mailnag is a daemon program that checks POP3 and IMAP servers for new mail.
 On mail arrival it performs various actions provided by plugins. Mailnag
 comes with a set of desktop-independent default plugins for visual/sound
 notifications, script execution etc. and can be extended with additional
 plugins easily. 
